<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="home-container1">
      <ion-list id="home-list4">
        <ion-item class="item-avatar item-icon-right" id="home-list-item1">
          <img src="img/wFfKyCs1Qt6CDp9mBMl9_1462186591-96cf3713f72cefd500f2069118164b08.jpeg">
          <h2>Liubov</h2>
          <i class="icon ion-android-more-horizontal"></i>
        </ion-item>
      </ion-list>
       <div>
        <img src="https://s3.amazonaws.com/ionic-io-static/tbd9tmATcmMpftCmtf0d_Ucu3OSd8OAM.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div id="home-button-bar1" class="button-bar">
      <button id="home-button7" class="button button-stable  button-block icon ion-ios-heart-outline">&nbsp5</button>
      <button ui-sref="chat" id="home-button8" class="button button-stable  button-block icon ion-ios-chatbubble-outline"></button>
    </div> 
  </ion-content>
</ion-view>